@media (max-width: 1366px) {
  .sh_control {
    .sh_sticky {
      .head_logo {
        width: 305px;
        height: 80px;
      }
      .head_content {
        height: 60px;
        .icon_collaped{
          margin-top: 15px;
        }
        .sh_search {
          flex: 1;
          min-width: 1px;
          margin-top:15px;
          form {
            width: calc(100% - 380px);
          }
        }
        .head_user {
          margin-top: 10px;
        }
      }
    }
  }
  .menu_callaped {
    .sh_sticky {
      .head_logo {
        width: 108px;
        transition: 0.5s;
      }
    }
    .sh_control {
      .page-menu {
        .page-menu-inner {
          width: 80px;
          transition: 0.5s;
        }
      }
    }
  }
  .main {
    width: 100%;
    min-height: 100%;
    .control-main {
      padding-top: 80px;
      height: 100%;
      position: relative;
      .bg-cover {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 260px;
        -webkit-transition: 0.3s ease all;
        transition: 0.3s ease all;
        background: -webkit-linear-gradient(to top right, #5049ad, #7b4cdb);
        background: linear-gradient(to top right, #5049ad, #7b4cdb);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 100%;
      }
      .page-content {
        max-width: 1050px;
        margin: auto;
        padding: 30px;
        padding-bottom: 0;
        position: relative;
      }
    }
  }
}

@media (max-width: 1024px) {
  .sh_control {
    .sh_sticky {
      .head_logo {
        width: 330px;
        height: 80px;
      }
      .head_content {
        height: 60px;
        .icon_collaped{
          margin-top: 15px;
        }
        .sh_search {
          flex: 1;
          min-width: 1px;
          margin-top:15px;
          form {
            width: calc(100% - 50px);
            .sh_search_menu {
              position: relative;
              display: flex;
              input {
                height: 44px;
                padding: 0 30px 0 45px;
                border-radius: 3px;
                width: 100%;
                outline: 0;
                float: left;
                border: 1px solid rgba(230, 230, 230, 0.05);
                background: rgba(187, 187, 187, 0.3);
                font-size: 14px;
                outline: 0;
                margin-bottom: 0;
                box-shadow: none;
                color: var(--white);
              }
              input.form-control {
                width: 100%;
                background-clip: padding-box;
                // border: 1px solid #ced4da;
              }
              ::placeholder {
                color: var(--white);
                opacity: 1; /* Firefox */
              }

              :-ms-input-placeholder {
                color: var(--white);
              }

              ::-ms-input-placeholder {
                color: var(--white);
              }
              i.s_icon {
                position: absolute;
                pointer-events: none;
                top: 50%;
                left: 17px;
                transform: translateY(-50%);
                color: var(--white);
              }
            }
          }
        }
        .head_user {
          margin-top: 10px;
        }
      }
    }
  }
  .menu_callaped {
    .sh_sticky {
      .head_logo {
        width: 85px;
        transition: 0.5s;
      }
    }
    .sh_control {
      .page-menu {
        .page-menu-inner {
          width: 80px;
          transition: 0.5s;
          .sh-link-wrapper {
            width: 80px;
            transition: 0.5s;
            ul {
              li {
                a {
                  text-align: center;
                  padding: 0.8125rem 1.2625rem;
                  span {
                    display: none;
                  }
                  i {
                    margin-right: 0;
                    font-size: 1.8em;
                    width: 100%;
                    transition: 0.3s;
                    position: relative;
                    top: 2px;
                  }
                }
                a:after {
                  content: '';
                  display: none;
                }
                ul {
                  li {
                    border: none;
                    padding-left: 0px;
                    text-align: center;
                    margin: 0;
                    a {
                      font-size: 12px;
                      text-align: center;
                    }
                  }
                }
              }
            }
            ul:before {
              content: attr(data-submenu-title);
              margin-bottom: 5px;
              display: block;
              color: var(--gray-soft);
              font-weight: bolder;
              font-size: 15px;
              text-align: center;
              margin-left: -10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu_callaped {
    .sh_sticky {
      .head_logo {
        width: 75px;
        transition: 0.5s;
      }
    }
    .sh_control {
      .page-menu {
        .page-menu-inner {
          width: 70px;
          transition: 0.5s;
          .sh-link-wrapper {
            width: 70px;
            transition: 0.5s;
            ul {
              li {
                a {
                  text-align: center;
                  padding: 0.8125rem 1.2625rem;
                  span {
                    display: none;
                  }
                  i {
                    margin-right: 0;
                    font-size: 1.8em;
                    width: 100%;
                    transition: 0.3s;
                    position: relative;
                    top: 2px;
                  }
                }
                a:after {
                  content: '';
                  display: none;
                }
                ul {
                  li {
                    border: none;
                    padding-left: 0px;
                    text-align: center;
                    margin: 0;
                    a {
                      font-size: 12px;
                      text-align: center;
                    }
                  }
                }
              }
            }
            ul:before {
              content: attr(data-submenu-title);
              margin-bottom: 5px;
              display: block;
              color: var(--gray-soft);
              font-weight: bolder;
              font-size: 15px;
              text-align: center;
              margin-left: -10px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 689.95px) {
  .sh_control {
    .sh_sticky {
      .head_logo {
      }
      .head_content {
        height: 60px;
        .icon_collaped{
          margin-top: 15px;
        }
        .sh_search {
          flex: 1;
          min-width: 1px;
          margin-top:15px;
          form {
            width: calc(100% - 20px);
            .sh_search_menu {
              position: relative;
              display: flex;
              input {
                height: 44px;
                padding: 0 30px 0 45px;
                border-radius: 3px;
                width: 100%;
                outline: 0;
                float: left;
                border: 1px solid rgba(230, 230, 230, 0.05);
                background: rgba(187, 187, 187, 0.3);
                font-size: 14px;
                outline: 0;
                margin-bottom: 0;
                box-shadow: none;
                color: var(--white);
              }
              input.form-control {
                width: 100%;
                background-clip: padding-box;
                // border: 1px solid #ced4da;
              }
              ::placeholder {
                color: var(--white);
                opacity: 1; /* Firefox */
              }

              :-ms-input-placeholder {
                color: var(--white);
              }

              ::-ms-input-placeholder {
                color: var(--white);
              }
              i.s_icon {
                position: absolute;
                pointer-events: none;
                top: 50%;
                left: 17px;
                transform: translateY(-50%);
                color: var(--white);
              }
            }
          }
        }
        .head_user {
          margin-top: 10px;
        }
      }
    }
    .header_fixed {
      background: var(--white);
      .head_content {
        .icon_collaped {
          i {
            font-size: 2.2em;
            font-weight: lighter;
            color: var(--gray);
            transition: 0.3s;
            padding: 0 15px;
            display: inline-block;
          }
        }
        .sh_search {
          form {
            .sh_search_menu {
              input.form-control {
                border: 1px solid rgba(230, 230, 230, 0.05);
                background: rgba(187, 187, 187, 0.3);
                color: var(--gray);
              }
              ::placeholder {
                color: var(--gray);
                opacity: 1; /* Firefox */
              }

              :-ms-input-placeholder {
                color: var(--gray);
              }

              ::-ms-input-placeholder {
                color: var(--gray);
              }
              i.s_icon {
                position: absolute;
                pointer-events: none;
                top: 50%;
                left: 17px;
                transform: translateY(-50%);
                color: var(--gray);
              }
            }
          }
        }
      }
    }
  }
}
